.navbar-brand {
    color: #428342 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000ad;
}

.home-page .banner p,
.tag-default {
    color: #3a3a3a !important;
}

.nav-pills.outline-active .nav-link,
.article-meta .info .date,
.article-preview .preview-link p,
.article-preview .preview-link span,
.tag-default.tag-outline {
    color: #585858 !important;
}

a,
.page-link {
    color: #316331;
}

.tag-default {
    background-color: #cccccc;
}

.tag-default[href]:focus,
.tag-default[href]:hover {
    background-color: #687077;
    color: #f5f5f5 !important;
}

footer .attribution {
    color: #000000;
}

/* .article-list:empty,
.sidebar .tag-list:empty,
.pagination:empty {
    background-color: #f3f3f3;
    height: 2000px;
    border-radius: 4px;
}

.sidebar .tag-list:empty,
.pagination:empty {
    height: 110px;
} */

.btn-outline-primary {
    color: #316331;
    border-color: #316331;
}

@media screen and (max-width: 768px) {

    /* .article-list:empty,
    .pagination:empty,
    .sidebar .tag-list:empty {
        width: 81vw;
        border-radius: 0;
    }

    .article-list:empty,
    .sidebar .tag-list:empty,
    .pagination:empty {
        height: 3000px;
    }

    .sidebar .tag-list:empty,
    .pagination:empty {
        height: 55px;
    }
 */
}