body {
    color: #e1e1e1;
    background-color: #18171d;
}

.navbar-brand {
    color: #41b741 !important;
}

.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .open>.nav-link:focus,
.navbar-light .navbar-nav .open>.nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .active>.nav-link:focus,
.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.3);
}

a {
    color: #41b741;
}

.home-page .sidebar {
    background: #3f3f3f;
}

.tag-default {
    color: #000 !important;
}


footer {
    background: #222227;
}

footer .attribution {
    color: #888;
}