<meta is="e-dom" :='articleSlug << ($ and $contains($, "/article/") ? $substringAfter($, "/article/") : null) << #'>
<meta is="e-dom"
    :='articleSlug >> ($ ? {"@:": $target.`@data-directive-base` & $replace($, "!", "%21") } : null) >> #article-getter'>
<meta is="e-remote" data-directive-base="article << $.value.article << ${~api}/articles/" content-type="json"
    id="article-getter">
<meta is="e-dom" :='article >> {
    "`.banner > .container`": {
        "`h1`": $.title, 
        "`.article-meta`": {
            "`a`": {"@href": "#/profile/" & $.author.username}, "`img`": {"@src": $.author.image}, 
            "`.author`": {"@href": "#/profile/" & $.author.username, "..": $.author.username}, 
            "`.date`": $fromMillis($toMillis($.createdAt), "[MNn] [D1o]"), 
            "`button.favorite .counter`": $.favoritesCount
        }
    }, 
    "`.page`": {
        "`blockquote`": $.description, "`.body`": $.body, 
        "`.tag-list`": {"<li.tag-default.tag-pill.tag-outline>": $map($.tagList, function($t) { $t })} 
    }
} >> |.article-page'>



<!-- <meta is="e-data" data-resource="api://api/articles/{$slugFromHash(article)}" target="|.article-page"
    transform='$articleRender' data-e-header-authorization force allow-empty id="article-pointer">
<meta is="e-data" data-resource="api://api/user" target="|.comment-author-img" transform='$.user.image'
    data-e-header-authorization>
<meta is="e-data" data-resource="api://api/articles/{$slugFromHash(article)}/comments" target="|.comments"
    transform='$commentsRender' data-e-header-authorization> -->

<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1></h1>
            <div class="article-meta">
                <a href><img src></a>
                <div class="info">
                    <a href class="author"></a>
                    <span class="date"></span>
                </div>
                <button class="btn btn-sm btn-outline-secondary follow">
                    <!-- <meta is="e-data" resource="||!click" target="api://api/articles/{$slugFromHash(article)}/follow"
                        options="method=POST" data-e-header-authorization> -->
                    <i class="ion-plus-round"></i>
                    &nbsp; Follow <span class="author"></span> <span class="counter"></span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-primary favorite">
                    <!-- <meta is="e-data" resource="||!click" target="api://api/articles/{$slugFromHash(article)}/favorite"
                        options="method=POST" data-e-header-authorization> -->
                    <i class="ion-heart"></i>
                    &nbsp; Favorite Article <span class="counter"></span>
                </button>
                <button class="btn btn-sm btn-outline-secondary edit">
                    <!-- <meta is="e-data" resource="||!click"
                        transform='{"`#router`.to(./#edit/" & $slugFromHash(article) & ")": true}'> -->
                    <i class="ion-edit"></i> Edit Article
                </button>
                <button class="btn btn-sm btn-outline-danger delete">
                    <!-- <meta is="e-data" resource="||!click" target="api://api/articles/{$slugFromHash(article)}"
                        options="method=DELETE" data-e-header-authorization> -->
                    <i class="ion-trash-a"></i> Delete Article
                </button>
            </div>
        </div>
    </div>

    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <blockquote></blockquote>
                <div class="body"></div>
                <ul class="tag-list"></ul>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <form class="card comment-form">
                    <div class="card-block">
                        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
                    </div>
                    <div class="card-footer">
                        <img src="https://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                        <button class="btn btn-sm btn-primary">Post Comment</button>
                    </div>
                </form>

                <div class="comments">
                    <template>
                        <div class="card">
                            <div class="card-block">
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <a href="./#profile/author" class="comment-author">
                                    <img src="https://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                                </a>
                                &nbsp;
                                <a href="./#profile/jacob-schmidt" class="comment-author">Jacob Schmidt</a>
                                <span class="date-posted">Dec 29th</span>
                                <span class="mod-options">
                                    <!-- <meta is="e-data" resource="||!click"
                                        target="api://api/articles/{$slugFromHash(article)}/comments/{`[id]|`.id}"
                                        options="method=DELETE">-->
                                    <i class="ion-trash-a"></i>
                                </span>
                            </div>
                        </div>
                    </template>
                </div>

            </div>
        </div>
    </div>
</div>