<meta is="e-data" data-resource="api://api/articles/{$slugFromHash(article)}" target="|.article-page" transform='{
    "`.banner h1`": $.article.title, 
    "`.article-meta a`@href": "./#profile/" & $.article.author.username, 
    "`.article-meta img`@src": $.article.author.image,
    "`.article-meta .info .author`@href": "./#profile/" & $.article.author.username,
    "`.article-meta .info .author`.textContent": $.article.author.username,
    "`.article-meta .info .date`": $fromMillis($toMillis($.article.createdAt), "[MNn] [D1o]"),
    "`.article-meta .follow .author`": $.article.author.username, 
    "`.article-meta .follow .counter`": "(" & $count($.article.author.following) & ")",
    "`.article-meta .favorite .counter`": "(" & $.article.favoritesCount & ")", 
    "`.article-content blockquote`": $.article.description, 
    "`.article-content .body`": $.article.body, 
    "`.article-content .tag-list`": $map($.article.tagList, function($t) { {".textContent": $t} })
}' data-e-header-authorization force allow-empty id="article-pointer">

<meta is="e-data" data-resource="api://api/user" target="|.comment-author-img" transform='$.user.image'
    data-e-header-authorization>

<meta is="e-data" data-resource="api://api/articles/{$slugFromHash(article)}/comments" target="|.comments" transform='$map($.comments, function($c) {{
        "`.card-text`": $c.body,
        "`a.comment-author:first-of-type`@href": "./#profile/" & $c.author.username,
        "`.comment-author-img`": $c.author.image,
        "`a.comment-author:nth-of-type(2)`@href": "./#profile/" & $c.author.username,
        "`a.comment-author:nth-of-type(2)`.textContent": $c.author.username,
        "`.date-posted`": $fromMillis($toMillis($c.createdAt), "[MNn] [D1o]"), 
        "`.mod-options`@style": $c.author.username = $this.username ? "display: block;" : "display: none;"
}})' data-e-header-authorization>


<div class="article-page">
    <!-- // TODO : update to switch between follow/favorite AND edit/delete -->
    <div class="banner">
        <div class="container">
            <h1></h1>
            <div class="article-meta">
                <a href><img src></a>
                <div class="info">
                    <a href class="author"></a>
                    <span class="date"></span>
                </div>
                <button class="btn btn-sm btn-outline-secondary follow">
                    <i class="ion-plus-round"></i>
                    &nbsp; Follow <span class="author"></span> <span class="counter"></span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-primary favorite">
                    <i class="ion-heart"></i>
                    &nbsp; Favorite Article <span class="counter"></span>
                </button>
                <button class="btn btn-sm btn-outline-secondary edit">
                    <i class="ion-edit"></i> Edit Article
                </button>
                <button class="btn btn-sm btn-outline-danger delete">
                    <i class="ion-trash-a"></i> Delete Article
                </button>
            </div>
        </div>
    </div>

    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <blockquote></blockquote>
                <div class="body"></div>
                <ul class="tag-list">
                    <template>
                        <li class="tag-default tag-pill tag-outline"></li>
                    </template>
                </ul>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <form class="card comment-form">
                    <div class="card-block">
                        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
                    </div>
                    <div class="card-footer">
                        <img src="https://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                        <button class="btn btn-sm btn-primary">Post Comment</button>
                    </div>
                </form>

                <div class="comments">
                    <template>
                        <div class="card">
                            <div class="card-block">
                                <p class="card-text">
                                    With supporting text below as a natural lead-in to additional content.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="./#profile/author" class="comment-author">
                                    <img src="https://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                                </a>
                                &nbsp;
                                <a href="./#profile/jacob-schmidt" class="comment-author">Jacob Schmidt</a>
                                <span class="date-posted">Dec 29th</span>
                                <span class="mod-options">
                                    <i class="ion-trash-a"></i>
                                </span>
                            </div>
                        </div>
                    </template>
                </div>

            </div>
        </div>
    </div>
</div>