<meta is="e-flow" :='!# >> slug: /\/article\/([a-z0-9\-\!]+)/ >> #articleSlug >> ${~api}/articles/${} >> ($.article) >> #article 
    >> ${~api}/articles/${slug}/comments >> (`transforms/comments-render.jsonata`) >> $(|.comments)'
    content-type="json">
<meta is="e-flow" :='#article >> (`transforms/article-render.jsonata`) >> $(|.article-page)'>
<meta is="e-flow" :='#user >> ($.image) >> $(|.comment-author-img)'>
<meta is="e-flow" :='$(|.comment-form) >> comment: ($form) >> {"comment": $} >> api: ${~api}/articles/${#articleSlug}/comments 
    >> {"value": ""} >> $(|.comment-form textarea)' content-type="json" data-api="${~post}">

<template id="comment">
    <div class="card">
        <div class="card-block">
            <p class="card-text"></p>
        </div>
        <div class="card-footer">
            <a href class="comment-author">
                <img src="https://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
            </a>
            &nbsp;
            <a href class="comment-author"></a>
            <span class="date-posted"></span>
            <span class="mod-options">
                <i class="ion-trash-a"></i>
            </span>
        </div>
    </div>
</template>

<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1></h1>
            <div class="article-meta">
                <a href><img src></a>
                <div class="info">
                    <a href class="author"></a>
                    <span class="date"></span>
                </div>
                <button class="btn btn-sm btn-outline-secondary follow">
                    <i class="ion-plus-round"></i>
                    &nbsp; Follow <span class="author"></span> <span class="counter"></span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-primary favorite">
                    <i class="ion-heart"></i>
                    &nbsp; Favorite Article <span class="counter"></span>
                </button>
                <button class="btn btn-sm btn-outline-secondary edit">
                    <i class="ion-edit"></i> Edit Article
                </button>
                <button class="btn btn-sm btn-outline-danger delete">
                    <i class="ion-trash-a"></i> Delete Article
                </button>
            </div>
        </div>
    </div>
    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <blockquote></blockquote>
                <div class="body"></div>
                <ul class="tag-list"></ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <form class="card comment-form">
                    <div class="card-block">
                        <textarea class="form-control" placeholder="Write a comment..." rows="3" name="body"></textarea>
                    </div>
                    <div class="card-footer">
                        <img src class="comment-author-img" />
                        <button type="submit" class="btn btn-sm btn-primary">Post Comment</button>
                    </div>
                </form>
                <div class="comments"></div>
            </div>
        </div>
    </div>
</div>