<meta is="e-dom"
    :='articleSlug << ($ and $contains($, "/editor/") ? $replace($substringAfter($, "/editor/"), "!", "%21") : "") << #'>
<meta is="e-remote" :='{loadedArticle, articleTagList, savedArticle} 
    << ($key = "articleTagList" ? $.article.tagList : $.article) << ${~api}/articles/${#articleSlug}'
    content-type="json">
<meta is="e-dom" :='loadedArticle >> $ >> |form'>
<meta is="e-dom" :='{new: newArticle, edit: editedArticle} << 
    ($slug := $cell("articleSlug") ; $key = "edit" ? ($slug ? $form : {} ) : ($slug ? {} : $form )) 
    << |form'>
<meta is="e-remote"
    :='editedArticle >> ($cell("articleSlug") ? {"article": $} : null) >> ${~api}/articles/${#articleSlug}'
    options="${~put}" content-type="json">
<meta is="e-remote" :='newArticle >> $cell("articleSlug") ? null : {"article": $} >> ${~api}/articles/'
    options="${~post}" content-type="json">
<meta is="e-dom" :='savedArticle >> $cell("articleSlug") ? null : "/editor/" & $.slug >> #'>
<meta is="e-dom"
    :='articleTagList << $cell() ? [$sort([$distinct([$append($cell(), $.value)])])] : [$.value] << |.tag-control'>
<meta is="e-dom" :='articleTagList >> {
    "`.tag-control`": {"value": "", "focus()": {}}, "`datalist`": {"<option>": $}, 
    "`.tag-list`": {"<span.tag-default.tag-pill>": [$map($, function($t) {{"<>": "<i class=\"ion-close-round\"></i><span>" & $t & "</span>"}})]}
} >> |'>

<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <ul class="error-messages"></ul>
                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Article Title"
                                name="title" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="What's this article about?"
                                name="description" />
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)"
                                name="body"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control tag-control" placeholder="Enter tags">
                            <datalist name="tagList"></datalist>
                            <div class="tag-list"></div>
                        </fieldset>
                        <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
                            Publish Article
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>