<meta is="e-data" data-resource="api://api/articles/{$slugFromHash(editor)}" target="|.page" transform='{
    "`.error-messages`": $each($.errors, function($v, $k) {  $k & " " & $join($v, ", ") }), 
    "`form`": $.article, "`#tagTracker`": $join($.article.tagList, ",")
}' data-e-header-authorization>
<meta is="e-data" data-resource="|form|_submit" target="api://api/articles"
    transform='{ "article": $merge([$, {"tagList": [$sort([$distinct([$filter([$split($find("|#tagTracker").value, ",")], function($t) { $trim($t) })])])] }]) }'
    options="method=POST" data-e-header-authorization force id="article-updater">
<meta is="e-data" resource="|#article-updater|!change" target=":|#router" apply id="post-submit-handler">
<meta is="e-data" resource="|form [name=title]|_" target="|#post-submit-handler"
    transform='{ "@apply": "to(./#editor/" & $lowercase($replace($trim($),/[^a-zA-Z0-9]+/,"-")) & ")" }'>

<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <ul class="error-messages"></ul>
                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Article Title"
                                name="title" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="What's this article about?"
                                name="description" />
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)"
                                name="body"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <meta is="e-data" resource="|input|_" target="|[name=tagList]" transform='[]' apply="append"
                                and='|input[placeholder] ~> "" ; #tagTracker ~> $join($append($split($target.value,","), $), ",") '>
                            <input type="text" class="form-control" placeholder="Enter tags">
                            <input type="hidden" id="tagTracker">
                            <div class="tag-list" name="tagList">
                                <template data-e-slot="span span">
                                    <span class="tag-default tag-pill">
                                        <meta is="e-data" resource="|i|!click" target="#tagTracker"
                                            transform='( $tag := $find("span|span").textContent ; $tags := [$split($find("fieldset|#tagTracker").value,",")] ; $join([$filter($tags, function($t) { $t != $tag })] , ",") )'
                                            and='span| ~> "" ~> remove()' allow-empty>
                                        <i class="ion-close-round"></i>
                                        <span></span>
                                    </span>
                                </template>
                            </div>
                        </fieldset>
                        <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
                            Publish Article
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- $join( $filter($split($find("fieldset|#tagTracker").value,","), function($t) { $t = "dragons" }) , ",") -->