<meta is="e-dom"
    :='articleSlug << ($ and $contains($, "/editor/") ? $replace($substringAfter($, "/editor/"), "!", "%21") : null) << #'>
<meta is="e-dom" :='articleSlug >> $ ? {"refresh()": true} : null >> #article-getter'>

<meta is="e-remote"
    :='{loadedArticle, articleTagList} << ($cell.key = "articleTagList" ? $.value.article.tagList : $.value.article) << ${~api}/articles/${#articleSlug.value}'
    content-type="json" lazy passive id="article-getter">
<meta is="e-dom"
    :='loadedArticle >> { "`[name=title]`": $.title, "`[name=description]`": $.description, "`[name=body]`": $.body } >> |form'>

<meta is="e-dom" :='{new: newArticle, edit: editedArticle} << 
    ( $slug := $getCell("articleSlug").value ; $cell.key = "edit" ? ($slug ? $._ : {} ) : ($slug ? {} : $._ ) ) 
<< |form' prevent passive>


<meta is="e-remote" :='newArticle >> $.title ? {"article": $} : null >> ${~api}/articles' options="${~post}"
    content-type="json">
<meta is="e-remote" :='editedArticle >> $.title ? {"article": $} : null >> ${~api}/articles/${#articleSlug}'
    options="${~put}" content-type="json" id="article-saver">


<meta is="e-dom"
    :='articleTagList << $cell.value ? [$sort([$distinct([$append($cell.value, $.value)])])] : [$.value] << |.tag-control'
    force>
<meta is="e-dom" :='articleTagList >> {
    "`.tag-control`": {"value": "", "focus()": {}}, "`datalist`": {"<option>": $}, 
    "`.tag-list`": {"<span.tag-default.tag-pill>": [$map($, function($t) {{"<>": "<i class=\"ion-close-round\"></i><span>" & $t & "</span>"}})]}
} >> |'>

<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <ul class="error-messages"></ul>
                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Article Title"
                                name="title" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="What's this article about?"
                                name="description" />
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)"
                                name="body"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control tag-control" placeholder="Enter tags">
                            <datalist name="tagList"></datalist>
                            <div class="tag-list"></div>
                        </fieldset>
                        <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
                            Publish Article
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>