<meta is="e-data" id="article-feed-pointer" data-resource="$articleDefault" target="|.page"
    transform='$articleListRender' data-e-header-authorization force allow-empty>
<meta is="e-data" resource="api://api/tags" target="|.page .row .sidebar .tag-list" transform='$tagListRender'>

<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <meta is="e-data" data-resource="|a|!click" transform='$toggleFeedToYour'
                                data-e-header-authorization force>
                            <a class="nav-link" href="./">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <meta is="e-data" resource="|a|!click" transform='$toggleFeedToGlobal' force>
                            <a class="nav-link active" href="./">Global Feed</a>
                        </li>
                    </ul>
                </div>

                <div class="article-list">
                    <template>
                        <div class="article-preview">
                            <div class="article-meta">
                                <meta is="e-data" data-resource="|button|!click" target options="method=POST"
                                    data-e-header-authorization force touch="main|#article-feed-pointer">
                                <a href><img src /></a>
                                <div class="info">
                                    <a href class="author"></a>
                                    <span class="date"></span>
                                </div>
                                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                    <i class="ion-heart"></i> <span class="favorites-count"></span>
                                </button>
                            </div>
                            <a href class="preview-link">
                                <h1></h1>
                                <p></p>
                                <span>Read more...</span>
                                <ul class="tag-list">
                                    <template data-e-value>
                                        <li class="tag-default tag-pill tag-outline"></li>
                                    </template>
                                </ul>
                            </a>
                        </div>
                    </template>
                    <template data-e-if-empty>
                        <p>You have no articles in your feed!</p>
                    </template>
                </div>

                <ul class="pagination">
                    <template>
                        <li class="page-item active">
                            <meta is="e-data" resource="|a|!click" target="main|#article-feed-pointer">
                            <a class="page-link" href></a>
                        </li>
                    </template>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>
                    <div class="tag-list">
                        <template data-e-value>
                            <a href="" class="tag-pill tag-default"></a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>