<!-- <script is="e-flow" type="script/flow">
    !^ >> ${~api}/tags >> ({"<a.tag-pill.tag-default>": [$map($.tags, function($t) {{"@href": "", "..": $t}})]}) >> $(:|.tag-list)
    user: #user >> ({"endpoint": $.username ? "articles/feed" : "articles", "filter": "", "tag": "", "offset": 0}) >> #feedConfig 
        >> ({"`.nav-item:first-of-type a`": {"&active": $user.username}, "`.nav-item:last-of-type a`": {"&active": $not($user.username)}}) >> $(.feed-toggle)
    $(|.feed-toggle a) >> ({"endpoint": $.`@href`, "filter": "", "tag": "", "offset": 0}) >> #feedConfig 
        >> ({"`.nav-item:first-of-type a`": {"&active": $.endpoint = "articles/feed" }, "`.nav-item:nth-of-type(2) a`": {"&active": $.endpoint = "articles" }, "`.nav-item:last-of-type`": {"^display": "none"}}) 
        >> $(:|.feed-toggle) >> {"<p>": "Loading articles..."} >> $(:|.article-list) >> {"..": ""} >> $(:|.pagination)
</script> -->

<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>
    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" href="articles/feed">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="articles">Global Feed</a>
                        </li>
                        <li class="nav-item" style="display: none;">
                            <a class="nav-link" href="articles">#tag</a>
                        </li>
                    </ul>
                </div>
                <div class="article-list">
                    <p>Loading articles...</p>
                </div>
                <ul class="pagination"></ul>
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>
                    <div class="tag-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>