<meta is="e-dom" :='profileUser << $substringAfter($, "/profile/")  << #'>
<meta is="e-dom" :='profileUser >> {"@:": $target.`@data-directive-base` & $} >> #profile-getter'>
<meta is="e-remote" data-directive-base="profile << $.value.profile << ${~api}/profiles/" content-type="json"
    id="profile-getter">
<meta is="e-dom"
    :='profile >> {"`.user-img`": {"@src": $.image}, "`.username{}`": {"..": $.username}, "`.bio`": {"..": $.bio}} >> |.user-info'>

<meta is="e-dom" :='articlesFilter << $join([$.`@href`,$getCell("profileUser").value],"=") << |.articles-toggle a'
    prevent passive>
<meta is="e-dom" :='articlesFilter >> {
    "`|.article-list`": {"<p>": "Loading articles..."}, 
    "@data-filter": $, "refresh()": "@data-directive-template", 
    "`|.articles-toggle`": {
        "`.nav-item:first-of-type a`": {"&active": $contains($, "author=") }, 
        "`.nav-item:last-of-type a`": {"&active": $contains($, "favorited=") }    
    }
} >> #feed-renderer'>
<meta is="e-remote" data-directive-template='{feed, pagination} << 
    ($cell.key = "feed" ? $.value.articles : { "count": $.value.articlesCount, "offset": ${@data-offset}, "limit": ${@data-limit} }) 
        << ${~api}/articles?limit=${@data-limit}&offset=${@data-offset}&${@data-filter}' content-type="json"
    options='${~get}' data-filter="" data-limit="10" data-offset="0" id="feed-renderer">


<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src class="user-img" />
                    <h4 class="username"></h4>
                    <p class="bio"></p>
                    <button class="btn btn-sm btn-outline-secondary action-btn follow">
                        <i class="ion-plus-round"></i>
                        &nbsp; Follow <span class="username"></span>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary action-btn edit">
                        <i class="ion-gear-a"></i>
                        &nbsp; Edit Profile Settings
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container page">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item my">
                            <a class="nav-link active" href="author">My Articles</a>
                        </li>
                        <li class="nav-item favorited">
                            <a class="nav-link" href="favorited">Favorited Articles</a>
                        </li>
                    </ul>
                </div>
                <div class="article-list"></div>
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>

<!-- <meta is="e-dom" :='pagination >> {"<li.page-item>": $.count ? [$map([1..$ceil($.count/$.limit)], function($n) { ($offset := (($n-1) * $.limit) ; {
    "&active": ($offset = $.offset), 
    "<a.page-link>": { "..": $n, "@data-offset": $offset, "@data-limit": $.limit, "@href": "?offset=" & $offset & "&limit=" & $.limit } 
})})] : [] } >> |.pagination'> -->
<!-- <meta is="e-dom" :='currentPage << { "offset": $.`@data-offset`, "limit": $.`@data-limit` } << |.pagination li a'
    prevent> -->
<!-- <meta is="e-dom" :='currentPage >> {
    "`|.article-list`": {"<p>": "Loading articles..."}, 
    "@data-limit": $.limit, "@data-offset": $.offset, "refresh()": "@data-directive-template"
} >> #feed-renderer' prevent> -->