<meta is="e-data" resource=":|#user|_" target="|" transform='{
    "`.api`@source": "https://api.realworld.io/api/profiles/" & $.username
}'>
<meta is="e-pipe" class="api" content-type="json">
<meta is="e-data" resource="|.api|_" target="|" transform='{
    "`h4.profile.username`": $.username,
    "`span.profile.username`": $.username,
    ".profile.bio": $.bio, 
    ".profile.image": $.image  
}'>


<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src="https://i.imgur.com/Qr71crq.jpg" class="user-img profile.image" />
                    <h4 class="profile.username">Eric Simons</h4>
                    <p class="profile.bio">
                        Cofounder @GoThinkster, lived in Aol's HQ for a few months, kinda looks like Peeta from
                        the Hunger Games
                    </p>
                    <button class="btn btn-sm btn-outline-secondary action-btn">
                        <i class="ion-plus-round"></i>
                        &nbsp; Follow <span class="profile.username">Eric Simons</span>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary action-btn">
                        <i class="ion-gear-a"></i>
                        &nbsp; Edit Profile Settings
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link active" href="">My Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Favorited Articles</a>
                        </li>
                    </ul>
                </div>

                <article-preview></article-preview>
                <template>
                    <div class="article-preview">
                        <div class="article-meta">
                            <a href="./#profile/eric-simons"><img src="https://i.imgur.com/Qr71crq.jpg" /></a>
                            <div class="info">
                                <a href="./#profile/eric-simons" class="author">Eric Simons</a>
                                <span class="date">January 20th</span>
                            </div>
                            <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                <i class="ion-heart"></i> 29
                            </button>
                        </div>
                        <a href="./#article/how-to-buil-webapps-that-scale" class="preview-link">
                            <h1>How to build webapps that scale</h1>
                            <p>This is the description for the post.</p>
                            <span>Read more...</span>
                            <ul class="tag-list">
                                <li class="tag-default tag-pill tag-outline">realworld</li>
                                <li class="tag-default tag-pill tag-outline">implementations</li>
                            </ul>
                        </a>
                    </div>
                </template>

                <ul class="pagination">
                    <li class="page-item active">
                        <a class="page-link" href="">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="">2</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>