<meta is="e-dom" :='profileUser << $substringAfter($, "/profile/")  << #'>
<meta is="e-dom" :='profileUser >> {"@:": "profile << $.value.profile << ${~api}/profiles/" & $} >> #profileGetter'>
<meta is="e-remote" content-type="json" id="profileGetter">
<meta is="e-dom" :='profile >> {
    "`.user-img`": {"@src": $.image},
    "`.username{}`": {"..": $.username},
    "`.bio`": {"..": $.bio}
} >> |.user-info'>

<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src class="user-img" />
                    <h4 class="username"></h4>
                    <p class="bio"></p>
                    <button class="btn btn-sm btn-outline-secondary action-btn follow">
                        <i class="ion-plus-round"></i>
                        &nbsp; Follow <span class="username"></span>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary action-btn edit">
                        <i class="ion-gear-a"></i>
                        &nbsp; Edit Profile Settings
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item my">
                            <!-- <meta is="e-data" resource="|a|!click" transform='$toggleFeedToAuthor' force> -->
                            <a class="nav-link active" href>My Articles</a>
                        </li>
                        <li class="nav-item favorited">
                            <!-- <meta is="e-data" resource="|a|!click" transform='$toggleFeedToFavorited' force> -->
                            <a class="nav-link" href>Favorited Articles</a>
                        </li>
                    </ul>
                </div>

                <div class="article-list">
                    <!-- <template>
                        <div class="article-preview">
                            <div class="article-meta">
                                <meta is="e-data" data-resource="|button|!click" target options="method=POST"
                                    data-e-header-authorization force touch="main|#article-feed-pointer">
                                <a href><img src /></a>
                                <div class="info">
                                    <a href class="author"></a>
                                    <span class="date"></span>
                                </div>
                                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                    <i class="ion-heart"></i> <span class="favorites-count"></span>
                                </button>
                            </div>
                            <a href class="preview-link">
                                <h1></h1>
                                <p></p>
                                <span>Read more...</span>
                                <ul class="tag-list">
                                    <template data-e-value>
                                        <li class="tag-default tag-pill tag-outline"></li>
                                    </template>
                                </ul>
                            </a>
                        </div>
                    </template> -->
                    <!-- <template data-e-if-empty>
                        <p>No articles by this author yet!</p>
                    </template> -->
                </div>

                <ul class="pagination">
                    <!-- <template>
                        <li class="page-item active">
                            <meta is="e-data" resource="|a|!click" target="main|#article-feed-pointer">
                            <a class="page-link" href></a>
                        </li>
                    </template> -->
                </ul>
            </div>
        </div>
    </div>
</div>