<meta is="e-dom" :="user << $._ << |form" prevent passive>
<meta is="e-dom" :='user >> $merge([$each($, function($v, $k) { {"`[name=" & $k & "]`": {"value": $v} } })]) >> |form'>

<div class="settings-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Your Settings</h1>

                <ul class="error-messages"></ul>

                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input class="form-control" type="text" placeholder="URL of profile picture" name="image">
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Your Name"
                                name="username">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control form-control-lg" rows="8" placeholder="Short bio about you"
                                name="bio"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Email" name="email">
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="password" placeholder="New Password"
                                name="password" />
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right">Update Settings</button>
                    </fieldset>
                </form>
                <hr />
                <meta is="e-data" data-resource="|.logout|!click" target=":|#user" transform='null' apply="write()">
                <button class="btn btn-outline-danger logout">Or click here to logout [TODO].</button>
            </div>
        </div>
    </div>
</div>